.mail-sidebar {
    max-width: 256px;
    transition: width 0.3s;
}

.mail-sidebar.collapsed {
    width: 60px;
    /* Collapsed width */
}

.mail-sidebar .active {
    background-color: var(--mail-bg3);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mail-sidebar.collapsed .active {
    background-color: transparent;
}

.mail-sidebar ul {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    padding-inline-end: 8px;

    /* justify-content: center; */
}

.mail-sidebar li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-end: 10px;
}

.mail-sidebar .mail-item {
    padding-inline-start: 26px;
}

.mail-sidebar.collapsed .mail-item {
    padding-inline-start: 16px;
}

.mail-sidebar .mail-item:hover {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--mail-hover);
}

.mail-sidebar .mail-item button {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    font-size: 15px;

    border: none;
    background-color: transparent;
}

.mail-sidebar .active button {
    font-weight: bold;
}

.mail-sidebar.collapsed .menu-text {
    opacity: 0;
    visibility: hidden;
}

.menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    padding: 5px;
}

.mail-sidebar.collapsed .active .menu-icon {
    background-color: var(--mail-bg3);
    border-radius: 50%;
}

.read-count {
    font-size: 13px;
    font-weight: bold;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    .mail-sidebar {
        width: 60px;
        transition: width 0.3s;

        /* Collapsed width */
    }

    .mail-sidebar .menu-text {
        opacity: 0;
        visibility: hidden;
    }

    .mail-sidebar .active .menu-icon {
        background-color: var(--mail-bg3);
        border-radius: 50%;
    }

    .mail-sidebar.collapsed {
        font-size: 18px;
        background-color: var(--mail-bg6);
        height: 100vh;
        width: 80vw;
        max-width: 60vw;
        z-index: 2;
    }

    .mail-sidebar.collapsed {
        left: 0;
        /* Slide in when collapsed */
        width: 80vw;
        /* Ensure it covers 80% of the viewport width */
    }

    .mail-sidebar.mail-sidebar.collapsed .menu-text {
        opacity: 1;
        visibility: visible;
    }
}