.mail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    color: #797d81;
    background-color: var(--mail-bg1);
    overflow-x: hidden;
    /* color:#c0c5c9; */
}

.mail-header .menu {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-inline-end: 75px;
}

.mail-header .fa-bars {
    cursor: pointer;
    padding: 15px;

}

.mail-header .fa-bars:hover {
    background-color: var(--mail-hover);
    border-radius: 50%;
}


.mail-header .logo {
    width: 120px;
}

.mail-header .search-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;

}

.mail-header .search-container span {
    position: absolute;
    left: 10px;
    /* Adjust based on icon size */
    width: 20px;
    /* Adjust based on icon size */
    height: 20px;
    /* Adjust based on icon size */
    pointer-events: none;
    width: 25px;
    filter: brightness(0) saturate(100%) invert(24%) sepia(14%) saturate(109%) hue-rotate(109deg) brightness(95%) contrast(84%);
}

.mail-header input {
    background-color: var(--mail-bg6);
    border-radius: 25px;
    height: 45px;
    border: none;
    padding: 10px 50px;
    font-size: 16px;
    flex-grow: 1;
}

.mail-header input:focus {
    background-color: white;
    border: none;
    outline: none;
}

.mail-header .user {
    width: 35px;
    ;
    border-radius: 50%;
    margin-inline-start: 75px;

}

.mail-header .header-action i {
    margin: 5px;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    .mail-header .menu {
        position: absolute;
        left: 20px;
        z-index: 1000;
    }

    .mail-header .logo,
    .mail-header .search-container span {
        display: none;
    }

    .mail-header .search-container {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mail-header input {
        width: 100%;
        padding-left: 40px;
        /* Space for the left icon */
        padding-right: 40px;
        /* Space for the right icon */
        text-align: center;
    }

    .mail-header .fa-bars {

        font-size: 20px;
    }

    .mail-header .user {
        position: absolute;
        right: 20px;
    }
}