:root {
    --main-bg-color: lightblue;
    /* color: #f3e3b6;
    color: #9cbfd7;
    color: #f39b78;
    color:#c0c5c9;
    color: #fff5c3;
    color: #d5fddb;
    color: #d7daff;
    color: #bfe4ff;
    color: #ffccd2; */
}