:root {
    --main-bg-color: lightblue;
    /* color: #f3e3b6;
    color: #9cbfd7;
    color: #f39b78;
    color:#c0c5c9;
    color: #fff5c3;
    color: #d5fddb;
    color: #d7daff;
    color: #bfe4ff;
    color: #ffccd2; */

    --mail1: eaf1fb;
    --mail2: #c2e7ff;
    --mail3: #F2F5FC;

    --mail-txt1: #001d35; 
    --mail-txt2: #47484A;

    --mail-bg1:#FFFFFF;
    --mail-bg2: #f6f8fc;
    --mail-bg3: #d3e3fd;
    

    




}