 /* note list */
 .note-list>ul {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     grid-gap: 17px;
     margin: 20px;
     /* grid-auto-rows: min-content; */

 }


 .note-list ul>li {
     padding: 10px;
     min-height: 100px;
     height: auto;
     border: 1px solid rgb(227, 224, 224);
     border-radius: 5px;
     list-style-type: none;
 }

 .note-list img {
     max-width: 18px;
     color: rgb(105, 100, 100);
 }

 .note-list ul>li:hover:not(article) {
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
 }

 .note-list .note-details {
     /* color: rgb(243, 206, 159);
  color:  #FAAFA8;
color:#F39F76;
color:#FFF8B8;
color:#E2F6D3;
color:#B4DDD3;
color:#D4E4ED;
color:#AECCDC;
color:#D3BFDB;
color:#F6E2DD;
color:#E9E3D4;
color:#EFEFF1;
color:#FFFFFF; */

 }


 .color-input .items-container {
     height: 20px;
     width: 100px;
 }