.note-add{
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-add .input-title{
height: 40px;
width: 600px;
border-radius: 5px;
color: rgb(96, 90, 90);
font-size: 20px;
}

.input-container.expanded button{
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 40px;
    font-size: 17px;
    border: none;
    background-color:white;
}

.input-container.expanded button:hover{
    background-color:rgb(240, 237, 237);
    border-radius: 5px;
}

.note-add .input-container {
    position:relative;
    display: flex;
    align-content: center;
    transition: height 0.3s;
    white-space: pre-wrap; 
}

.note-add .input-container.expanded .input-title{
    height: 200px; 
    border-color: rgb(170, 167, 163);
    white-space: pre-wrap; 
}


/* .note-add .input-container .input-txt input {
    border: none;
} */

.input-container input {
    border: 1px solid #dfdcdc; 
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.2); 
    
}

.note-add .input-container.expanded .input-txt{
    position: absolute;
    left: 10px;
    font-size: 20px;
    top: 25px;
    border: none;
    border-color: white;
}

.square-input .input-txt input{
    border: none;
    border-color: white;
   
}

.input-container .icon-text > img{
    max-width: 20px;
    filter: grayscale(0%);
}

.input-container .input-title .expanded .icon-text >img{
display: block;
}



.input-container.expanded {
    position: relative;
}

.input-container .expanded .icon-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px; 
    display: flex;
    align-items: center;
}

.icon-text img {
    margin-right: 5px; 

}
