.note-preview {
 /* display: grid; */
 display: grid;
 grid-template-rows: auto 1fr auto; 
 align-items: center;
}

.note-preview .note-details{
    display: flex;
    grid-row: 1;
    justify-content: space-between;
}
.note-preview .note-dynamic-cmp{
    grid-row: 2;
}
.note-preview .action-note {
    grid-row: auto;
    margin-top: 20px;
}

.note-preview h3 {
    grid-row: 1;
    font-family: 'Arial';
    color: rgb(56, 55, 55);
    font-weight: 215;
}

.note-preview i{
    color: rgb(36,35,35);
}

.note-preview .action-note i,img{
    margin-inline-start: 0px;
    padding: 10px;
}

li:hover .action-note{
    display: inline-block;
}

li:hover span{
    display: inline-block;
}

.note-preview:hover .action-note{
    display:block;
}

.note-preview .action-note i{
    margin-inline-start: 10px;
}

.note-preview .action-note i:last-of-type{
    margin-inline-start: 160px;
}

.note-preview:hover .action-note i,img:hover{
    padding: 10px;
    border-radius: 50%;
   background-color: rgba(80, 96, 96, 0.233);
   transition: transform 0.3s;
   color: rgb(59, 57, 57);
   filter: grayscale(0%);
}

.note-preview img{
    max-width:8%;
    color: rgb(104, 100, 100);
    filter: grayscale(100%);
}

/* .note-list .action-note{
    display: inline-block;
} */
