.note-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: #797d81;
    padding: 10px;
    /* color:#c0c5c9; */
}

.note-header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 30px;
    font-weight: 100;
    color: #525558;
}

.note-header .horizontal-line {
    border-bottom: 1px solid rgb(125, 118, 118);
    width: 100%;
}

.note-header img {
    max-width: 10%;
    margin: 10px;
}

.note-header .header-action i {
    margin: 5px;
}

.note-header .note-logo{
    display: flex;
    margin-inline-end: 0px;
}

.note-header .note-logo i{
    padding: 10px;
}

/* 

color:#FAAFA8;
#F39F76
#FFF8B8
#E2F6D3
#B4DDD3
#D4E4ED
#AECCDC
#D3BFDB
#F6E2DD
#E9E3D4
#EFEFF1
#FFFFFF
   */