.note-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #797d81;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(125, 118, 118);

}

.note-header h1 {
    font-family: 'Roboto-Regular';
    font-size: 26px;
    font-weight: 100;
    color: #777e86;
}

.note-header .horizontal-line {
    width: 100%;
}

.note-header img {
    max-width: 8%;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 3px;
}

.note-header .header-action i {
    margin: 12px;
}

.note-header .header-action{
    margin-right: 100px;

}

.note-header .note-logo{
    display: flex;
    margin-inline-start: 5px;
}

.note-header .note-logo i{
    padding: 10px;
}

.note-header {
    border-bottom: 1px solid rgb(236, 224, 224)
}

.note-header .note-filter >input{
    font-family: 'Roboto-Regular';
    background-color: rgb(247, 246, 246);
    border-radius: 5px;
    min-width: 550px;
    height: 47px;
    border: none;
    font-size: 17px;
}

/* .note-header .note-filter >input>*{
    color: #1d3e65;
} */
/* .note-header .note-filter >input::placeholder{
    /* color: black; */
/* } */ 
