.user-msg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
    background-color: lightgray;
    padding: 1em;
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-family: Roboto-Regular;
    font-size: 14px;
}

.user-msg.success {
    background-color: var(--mail--bg5);
    color: white;
}

.user-msg.error {
    background-color:  var(--mail--bg5);
    color: white;
}


.user-msg button{
    float: left;
    margin: 1em;
    background-color: transparent;
    border: none;
    color: white;
}